/* You can add global styles to this file, and also import other style files */
.red{
    color: red;
}
.green{
    color: green;
}
.blue{
    color:blue;
}
.yellow{
    color:yellow;
}
.greenYelowBck
{
    background-color: greenyellow;
}
.greenBck
{
    background-color: green;
}
.header
{
    color:white;
    background-color: lightblue
}
.grayBck
{
    background-color: lightgray;
}
.darkGrayBck
{
    background-color: gray;
}